apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer-api
  namespace: customer-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer-api
  template:
    metadata:
      labels:
        app: customer-api
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/auth-path: "auth/kubernetes"
        vault.hashicorp.com/role: "customer-api"
        vault.hashicorp.com/agent-inject-secret-db-secrets.properties: "homelab/data/customer-api"
        vault.hashicorp.com/agent-inject-template-db-secrets.properties: |
          {{- with secret "homelab/data/customer-api" -}}
          quarkus.datasource.username={{ .Data.data.db_username }}
          quarkus.datasource.password={{ .Data.data.db_password }}
          {{- end -}}
    spec:
      serviceAccountName: customer-api-sa
      containers:
        - name: customer-api
          image: "ivancl4udio/customer-quarkus-pg-rest-api:1.0.11"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: QUARKUS_CONFIG_LOCATIONS
              value: "/vault/secrets/db-secrets.properties"
            - name: DB_JDBC_URL
              valueFrom:
                configMapKeyRef:
                  name: customer-api-config
                  key: DB_JDBC_URL
            - name: QUARKUS_LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: customer-api-config
                  key: QUARKUS_LOG_LEVEL
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /q/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: customer-api-svc
  namespace: customer-api
spec:
  selector:
    app: customer-api
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
