name: release
on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  call:
    uses: Devops-Flow/ci-kit/.github/workflows/quarkus-native.yml@v1
    with:
      dockerfile: ./Dockerfile.native
      k8s_file: k8s/20-deployment-service.yaml
      k8s_deploy_name: customer-api
      k8s_container:  customer-api
      # opcional: docker_image: ivan/workorder-api
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN:    ${{ secrets.DOCKERHUB_TOKEN }}
      ARGOCD_SERVER:      ${{ secrets.ARGOCD_SERVER }}
      ARGOCD_TOKEN:       ${{ secrets.ARGOCD_TOKEN }}
      ARGOCD_APP:         ${{ secrets.ARGOCD_APP }}
